<div class="content-components">
<div class="content-box">
  <div class="create-content">
<h1>Crear Historial Clínico</h1>

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitCreateForm()">

  <nz-form-item >
    <nz-form-label  nzRequired>Nombre del Paciente</nz-form-label>
    <nz-form-control [nzSpan]="8" [nzErrorTip]="patientNameErrorTpl">
      <input nz-input formControlName="patientName" placeholder="Juan Pérez" />
    </nz-form-control>
  <ng-template #patientNameErrorTpl let-control> 
    @if(control.hasError('pattern')) {
    <ng-container>El nombre del paciente solo puede contener letras</ng-container>
  }
  </ng-template>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label  nzRequired>Fecha de Nacimiento</nz-form-label>
    <nz-form-control [nzSpan]="8">
        <nz-date-picker  formControlName="birthdate" nzPlaceHolder="Selecciona una fecha"></nz-date-picker>
    </nz-form-control>
</nz-form-item>

<nz-form-item>
    <nz-form-label  nzRequired>Tipo de Sangre</nz-form-label>
    <nz-form-control [nzSpan]="8">
      <nz-select
        nzPlaceHolder="Selecciona un tipo de sangre"
        formControlName="bloodType"
        >
        @for (bloodtype of bloodtypes; track $index) {
          <nz-option [nzLabel]="bloodtype" [nzValue]="bloodtype" ></nz-option>
        }
        </nz-select>
        <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
    </nz-form-control>
</nz-form-item>

<nz-form-item>
  <nz-form-label nzRequired>Contacto de Emergencia</nz-form-label>
  <nz-form-control [nzSpan]="8" [nzErrorTip]="emergencyContactErrorTpl">
    <input nz-input formControlName="emergencyContact" placeholder="0123456789" />
  </nz-form-control>
  <ng-template #emergencyContactErrorTpl let-control>
    @if(control.hasError('pattern')) {
    <ng-container>El contacto solo debe contener números</ng-container>
    } @else if (control.hasError('minlength')) {
    <ng-container>El contacto debe tener 10 caracteres</ng-container>
    } @else if(control.hasError('maxlength')){
    <ng-container>El contacto debe tener 10 caracteres</ng-container>
    }
  </ng-template>
</nz-form-item>

<nz-form-item>
    <nz-form-label>Medicinas</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select
        nzMode="tags"
        nzPlaceHolder="Selecciona una medicina"
        formControlName="medicines"
        [nzMaxMultipleCount]="10"
        >
        @for (medicine of medicines; track $index) {
          <nz-option [nzLabel]="medicine" [nzValue]="medicine" ></nz-option>
        }
        </nz-select>
        <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
      <button nz-button nzType="primary">Enviar</button>
    </nz-form-control>
  </nz-form-item>
</form>
</div>
<div class="update-content">
@if (selectedMedicalHistory) {
  <app-update-medical-history
    [medicalHistory]="selectedMedicalHistory"
    (medicalHistoryUpdated)="onMedicalHistoryUpdate()"
  ></app-update-medical-history>
  }
</div>
</div>
  <app-medical-history-list (productSelected)="editMedicalHistory($event)"></app-medical-history-list>
</div>